body {
  background-color: #faf3eb;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.App {
  min-height: 100vh;
  background-color: #faf3eb;
}

h1 {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 80%;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-field {
  width: 40%;
  border-radius: 4px;
  padding: 12px;
  border: 1px solid white;
}

.search-btn {
  padding: 12px 20px;
  border-radius: 4px;
  border: none;
  background-color: #fa8102;
  color: white;
  font-size: 14px;
  margin: 5px;
  font-weight: 600;
}

.search-btn:hover {
  cursor: pointer;
  background-color: #ff6600ef;
}

.recipies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
