.recipe {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  margin: 20px;
  box-shadow: 0px 5px 10px rgb(182, 182, 182);
  align-items: center;
  width: 40%;
  min-width: 280px;
}

.image {
  border-radius: 50%;
  box-shadow: 0 5px 10px rgb(163, 163, 163);
  max-width: 250px;
  max-height: 250px;
  margin: 10px auto;
}

.unordList {
  list-style: none;
  padding: 10px;
  max-height: 200px;
  overflow: scroll;
}

.ingredientsBox {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ingredients {
  padding: 5px;
  letter-spacing: 1.5;
  text-transform: capitalize;
  text-align: center;
}

.button {
  padding: 12px 20px;
  border-radius: 4px;
  border: 1px solid #fa8102;
  background-color: white;
  color: #fa8102;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin: 10px auto;
}

.button:hover {
  border: 1px solid #ff6600;
  color: #ff6600;
}

.button:active,
.button:focus,
.button:active:focus:not(:disabled):not(.disabled) {
  box-shadow: none !important;
  outline: 0;
}

a {
  text-align: center;
  text-decoration: none;
  color: #fa8102;
  padding: 10px;
}

a:hover {
  color: #ff6600;
  font-weight: 600;
}
