.h3 {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.781);
}

.recipe {
  margin: 20px auto;
}

.image {
  margin: 5px auto;
  padding: 10px;
}

.ingredients {
  padding: 0;
  letter-spacing: 1;
  text-align: left;
  height: 120px;
  overflow: scroll;
}

.button:hover {
  border: 1px solid var(--links-color);
  color: white;
  background-color: var(--links-color);
}

.button:active,
.button:focus,
.button:active:focus:not(:disabled):not(.disabled) {
  box-shadow: none !important;
  outline: 0;
}

span {
  font-weight: 500;
  text-decoration: underline;
  line-height: 1.5;
}

a {
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: #ff6600;
  font-weight: 600;
}

@media (max-width: 480px) {
  .recipe {
    margin: 10px auto;
  }
}
