.recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  margin: 30px auto;
  box-shadow: 0px 5px 10px rgb(182, 182, 182);
  align-items: center;
  width: 30%;
  min-width: 260px;
}

.image {
  padding: 5px;
  border: 1px solid rgb(182, 182, 182);
  max-width: 350px;
  max-height: 200px;
  margin: 10px auto;
}

.unordList {
  list-style: none;
  padding: 10px;
  max-height: 200px;
  overflow: scroll;
}

.ingredientsBox {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ingredients {
  padding: 5px;
  letter-spacing: 1.5;
  text-transform: capitalize;
  text-align: center;
}

.button {
  padding: 10px 16px;
  border: 1px solid #e63600dc;
  background-color: white;
  color: #e63600dc;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  margin: 20px auto;
}

.button:hover {
  border: 1px solid #e63600dc;
  color: white;
  background-color: #e63600dc;
}

.button:active,
.button:focus,
.button:active:focus:not(:disabled):not(.disabled) {
  box-shadow: none !important;
  outline: 0;
}

a {
  text-align: center;
  text-decoration: none;
  color: #fa8102;
  padding: 10px;
}

a:hover {
  color: #ff6600;
  font-weight: 600;
}
